<div *ngIf="hr" class="mat-typography">
  <mat-card>
    <mat-card-content>
      <h4>Requires Attention</h4>
    </mat-card-content>
    <!-- <mat-card-content>
      
    </mat-card-content> -->
  </mat-card>
</div>

<div *ngIf="!hr" class="mat-typography">
  <mat-card>
    <mat-card-content>
      <h3>Information for Associate {{ user.fName + ' ' + user.lName }}</h3>
    </mat-card-content>
  </mat-card>

  <mat-card name="training">
    <mat-card-content>
      <h4>Training Information</h4>
      <p>
        <span>City</span><br>
        {{ user.loc.location }}
      </p>
      <p>
        <span>Classroom</span><br>
        {{ user.loc.classLoc }}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card name="housing">
    <mat-card-content>
      <h4>Housing Assignment</h4>
      <p>
        <span>Checked In?</span><br>
        {{ user.hasKeys && 'Yes' }}
      </p>
      <p>
        <span>Address</span><br>
        {{ user.h.comp.complexName }}<br>
        {{ user.h.comp.streetAddress + ', Unit ' + user.h.aptRoom }}<br>
        {{ user.h.comp.city + ', ' + user.h.comp.state + ' ' + user.h.comp.zip }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
  