:host > div > mat-card {
    margin-bottom: 20px;
}

mat-card[name='training'] {
    margin-right: 20px;
}

mat-card[name='housing'],
mat-card[name='training'] {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 58px);
}

p > span { 
    font: 400 11.62px/20px Roboto, "Helvetica Neue", sans-serif;
}