<div id="hero" class="mat-typography">
  <h1 class="mat-display-3">Resource Portal 
      <span class="mat-caption">for Humans</span></h1>

  <mat-card>
    <form #ngLogin="ngForm" (submit)="onSubmit()">
      <mat-form-field>
        <mat-label>Login ID</mat-label>
        <input matInput class="input" name="email" placeholder="user@email.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{ getEmailError() }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput class="input" name="password" placeholder="password" [formControl]="password" type="password" required>
        <mat-error *ngIf="password.invalid">password is required to login</mat-error>
      </mat-form-field>

      <button type="submit" mat-button>sign in</button>
    </form>
  </mat-card>
</div>
