<!-- <form #ngLogin="ngForm" (ngSubmit)="onSubmit()"> -->
<form #ngLogin="ngForm">
  <mat-form-field>
    <mat-label>Login ID</mat-label>

    <input matInput required
      class="input"
      name="email"
      [(ngModel)]="formData.email"
      placeholder="user@email.com"
      [formControl]="emailControl"
    >

    <mat-error *ngIf="emailControl.invalid">{{ getEmailError() }}</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="newUser">
    <mat-label>new password</mat-label>
    <input matInput required
      class="input"
      name="password"
      [(ngModel)]="formData.password"
      placeholder="password"
      [formControl]="passwordControl"
      type="password"
    >
  </mat-form-field>

  <mat-form-field *ngIf="newUser">
    <mat-label>confirm password</mat-label>

    <input matInput required
      class="input"
      name="password"
      [(ngModel)]="formData.confirmPassword"
      placeholder="password"
      [formControl]="passwordControl"
      type="password"
    >

    <mat-error *ngIf="passwordControl.invalid">passwords do not match</mat-error>
  </mat-form-field>

  <!-- <button type="submit" mat-button>register</button> -->
  <button type="submit" (click)="onSubmit()" mat-button *ngIf="!newUser">submit</button>
  <button type="submit" (click)="onPasswordSubmit()" mat-button *ngIf="newUser">register</button>
</form>
  