<form #ngLogin="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Login ID</mat-label>

    <input matInput required
      class="input"
      name="email"
      [(ngModel)]="formData.email"
      placeholder="user@email.com"
      [formControl]="emailControl"
    >

    <mat-error *ngIf="emailControl.invalid">{{ getEmailError() }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>

    <input matInput required
      class="input" 
      name="password"
      [(ngModel)]="formData.password"
      placeholder="password"
      [formControl]="passwordControl"
      type="password"
    >

    <mat-error *ngIf="passwordControl.invalid">password is required to login</mat-error>
  </mat-form-field>

  <button type="submit" mat-button>sign in</button>
</form>
<button (click)="onToggleFirstLogin()" mat-button>new user?</button>
